body {
  background-color: #000000;
}

/* WRAPPER...this wraps the document, centers it, etc*/
#wrapper {
  width: 800px;
  margin: 20px auto;
}

/*HEADER*/
#myFancyText{
  margin: 0px;
  padding: 20px 0 0 20px;
  }

/*HEADER*/
header {
  width: 800px;
  height: 100px;
  background-color: blue;
}

/*NAVBAR*/
#navBar {
  width: 800px;
  height: 30px;
  background-color: green;
}

/*CONTENT*/
#content {
  width: 800px;
  height: 500px;
  background-color: yellow;
}

/*FOOTER*/
footer {
  width: 800px;
  height: 30px;
  background-color: blue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
