/*           RESET...           */
* {
	margin: 0;
	padding: 0;
}

body {
  background-color: #000000;
}

/*            WRAPPER...this wraps the document, centers it, etc           */
#wrapper {
  width: 800px;
  margin: 20px auto;
}

/*           HEADER           */
#myFancyText{
  padding: 20px 0 0 20px;
  }

/*           HEADER           */
header {
  width: auto;
  height: 100px;
  background-image: url("http://wallpaper.zone/img/5371006.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/*           bobList           */
#bobList {
  width: auto;
  height: 30px;
  padding-top: 5px;
  background-image: url("headerimage.jpg");
  background-position: 0 -100px;
}

#bobList li {
	display: inline;
	float: right;
	padding-right: 20px;
	color: yellow;
}

#bobList a {
	color: yellow;
	text-decoration: none;
}

#bobList a:hover {
	color:yellow;
	text-decoration: none;
}

/*           CONTENT           */
#content {
  width: auto;
  height: 500px;
  background-color: yellow;
}

/*           FOOTER           */
footer {
  width: auto;
  height: 30px;
  background-image: url("headerimage.jpg");
  background-position: 0 -150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
